.drop-down {
  width: 7.5rem;
  line-height: 1.2rem;
  font-size: .4rem;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 0 .07rem #f1f1f1;
  position: fixed;
  z-index: 104;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  .fr {float: right;}
  .fl {float: left;}
  .title {
    padding: 0 .4rem;
  }
  .drop-list {
    padding: 0.3rem .4rem;
    position: absolute;
    width: 100%;
    line-height: 1rem;
    font-size: .25rem;
    a {
      color: #f1f1f1;
    }
    background-color: rgba(0,0,0,.5);
    z-index: 100;
    li+li {
      border-top: .02rem solid #898989;
    }
  }
}